<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <header class="bg-gray-500 py-10">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-white text-2xl font-semibold"> <a href="/home"> Personal Budget and Expense Tracker </a> </h1>
            <nav>
                <ul class="flex space-x-10 text-white">
                    <li><a href="/logout" class="hover:text-gray-300">Sign Out</a></li>
                    <li><a href="" class="hover:text-gray-300"></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container mx-auto mt-8">
        <div class="flex justify-center space-x-10 mb-10">
            <button id="expen" class="tab-btn font-bold bg-white border-4 rounded-xl border-blue-500 py-3 px-40 rounded-lg" onclick="openTab(event, 'expenditure')">Expenditure</button>
            <button id="inc" class="tab-btn font-bold bg-white border-4 rounded-xl border-blue-500 py-3 px-40 rounded-lg" onclick="openTab(event, 'income')">Income</button>
        </div>

        <div id="expenditure" class="tab-content">
                <table class="table-auto mx-auto w-3/5 bg-white border border-gray-200 shadow-md rounded-md">

                    <thead class="bg-gray-100">
                        <tr>
                            <th class="px-4 py-2">Description</th>
                            <th class="px-4 py-2">Category</th>
                            <th class="px-4 py-2">Amount ($)</th>
                            <th class="px-4 py-2">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                        <tr>
                            <td>{{ expense[0] }}</td>
                            <td>{{ expense[1] }}</td>
                            <td>{{ expense[2] }}</td>
                            <td>{{ expense[3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>

        <div id="income" class="tab-content">
            <div>
                <table class="table-auto mx-auto w-3/5 bg-white border border-gray-200 shadow-md rounded-md">
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="px-4 py-2">Source</th>
                            <th class="px-4 py-2">Amount ($)</th>
                            <th class="px-4 py-2">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for income in incomes %}
                        <tr>
                            <td>{{ income[0] }}</td>
                            <td>{{ income[1] }}</td>
                            <td>{{ income[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function openTab(event, tabName) {
            var i, tabContent, tabBtn;
            tabContent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabContent.length; i++) {
                tabContent[i].style.display = "none";
            }
            tabBtn = document.getElementsByClassName("tab-btn");
            for (i = 0; i < tabBtn.length; i++) {
                tabBtn[i].classList.remove("bg-blue-500", "text-white");
                tabBtn[i].classList.add("bg-white");
            }
            document.getElementById(tabName).style.display = "block";
            event.currentTarget.classList.remove("bg-gray-300");
            event.currentTarget.classList.add("bg-blue-500", "text-white");
        }

        // Show the default tab on page load
        document.getElementById("expenditure").style.display = "block";
        document.getElementById("income").style.display = "none";
        document.getElementById("expen").classList.remove("bg-gray-300");
        document.getElementById("expen").classList.add("bg-blue-500", "text-white");
        document.body.style.backgroundImage = "url('https://media.istockphoto.com/id/1255356293/photo/financial-advisor.jpg?s=1024x1024&w=is&k=20&c=n3mBMUfJ9XABo0CM7xzeAJDYaUMiERD35STR6eAU6nY=')";

        progress_bar = document.querySelectorAll('.progress_bar');
        progress_bar.forEach(i => {
            const total = 10;
            const achievedProgress = 7;
            const progressWidth = (achievedProgress / total) * 100;
            i.style.width = `${progressWidth}%`;
        });


    </script>

</body>

</html>
